<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://plugin.powerschool.pearson.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  description="Customizations specific to Prince Edward Island"
  name="PEI Customizations"
  version="2024.5.0"
  xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Luke Walker, Dept of Education and Early Years">
    <contact email="lawalker@gov.pe.ca"/>
  </publisher>
    <access_request>
      <cdn_request>
          <cdn name="https://www.arcgis.com"/>
      </cdn_request>
    </access_request>
</plugin>
